:root {
    --color: #f97b22;
    --background: #fee8b0;
    --color2: #9ca777;
    --color3: #7c9070;
}

body {
    background-color: var(--background);
    direction: rtl;
    font-family: vazir;
    height: 140vh;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: var(--color);
}

th {
    background-color: var(--color2);
    color: var(--background);
}

td {
    color: var(--color3);
}

th,
td {
    border: 2px solid var(--color3);
    text-align: center;
    padding: 10px;
}

.fa-square,
.fa-check-square {
    color: var(--color);
    font-size: 20px;
    cursor: pointer;
    transition: 0.9s ease-out;
}

.fa-star {
    font-size: 14px;
    color: var(--color);
    cursor: pointer;
    transition: 0.2s ease-out;
}

.mainIcon {
    color: var(--background);
    border: none;
    font-size: 22px;
}

.fa-plus {
    background-color: var(--color3);
    color: var(--background);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    width: 7%;
    text-align: center;
    padding: 6px 1px;
}

.addPage {
    display: none;
    position: absolute;
    top: 70px;
    left: 22%;
    background-color: var(--color2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    width: 52%;
}

.container.active .addPage {
    filter: blur(5px);
}

.addPage > p {
    color: var(--background);
}

input {
    width: 70%;
    padding: 10px;
    outline: none;
    margin: 15px 0 30px 0;
    border: 1px solid var(--color);
    border-radius: 7px;
    color: var(--color);
    background-color: var(--background);
    font-size: 18px;
    font-family: vazir;
}

input::placeholder {
    font-family: vazir;
    color: var(--color);
}

.confirmBtn {
    width: 30%;
    padding: 5px;
    background-color: var(--color);
    color: var(--background);
    border: none;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}

.confirmBtn:active{
    animation: trans 0.3s;
}

body.active .addPage{
    display: flex;
}

body.active .container{
    filter: blur(6px);
}



@keyframes trans{
    0%{
      
    }
    50%{
        transform: translate(3px,5px);
    }
    100%{
        transform: translate(-3px,-5px);
    }
}

@font-face {
    font-family: vazir;
    src: url(Vazir.woff);
}
